loggerCategory="org.apache.velocity"
velocimacroLibrary=["VM_global_library.vm","VM_liferay.vm"]
restrictedPackages=""
logger="org.apache.velocity.runtime.log.SimpleLog4JLogSystem"
directiveIfToStringNullCheck="false"
restrictedVariables=""
resourceModificationCheckInterval="60"
restrictedClasses=""
