#set ($userLocalService = $serviceLocator.findService("com.liferay.portal.kernel.service.UserLocalService"))

<em>Demo 1: Exemplo super simples de um Webcontent</em>
<h1><img src="/image/layout_set_logo?img_id=20167&t=1511480876435" width="50">
	&nbsp;Ol&aacute;, Liferay!
</h1>

<h3>Quantidade de usu&aacute;rios: $userLocalService.getUsersCount()</h3>